@*This is a partial view that helps reduce the duplication of the same markup across multiple Razor views, like a template*@
@model Product
<div class="card m-3 rounded">
    <div class="card-block m-2">
        <h3>
            <strong>@Model.Name</strong>
            <span class="float-right bg-success text-white rounded m-2 p-1">
                @Model.Price.ToString("c")
            </span>
        </h3>
        <span class="lead">@Model.Description</span>
    </div>
</div>

