@{
    Layout = "_InfoLayout";
}
<br>
<h2>Business Policies</h2>
<br>
<h4>Cost</h4>
<p>The cost of your product is how much it costs to produce (the raw materials and packaging plus labour) plus a contribution towards the overheads of the business. Here’s how to calculate that overhead contribution:</p>
<ol>
    <li>Estimate how many products we will sell in a year.</li>
    <li>Work out our total fixed costs - overheads plus drawings.</li>
    <li>Divide the total fixed costs by the number of units we expect to sell to calculate how much fixed costs to allocate to each unit.</li>
    <li>Add the direct costs for that unit to calculate the total product cost per item.</li>
</ol>
<br>

<h4>Shipping</h4>
<p>
    For deliveries within the contiguous United States, shipping options are standard, 2-day and overnight delivery. Our deliveries may contain a combination of FedEx and US Mail using the SmartPost service.
    Standard Shipping via Fed Ex Ground Service within the contiguous United States is divided into two types of services: FedEx Home (for residential customers) and FedEx Ground (for commercial/business customers). Ground shipments are not a guaranteed service by Fed Ex.
</p>
<br>

<h4>Taxes</h4>
<p>Unless otherwise stated on the face hereof, stated prices do not include any customs duties, sales, use, value added, excise, federal, state, local or other taxes. All such duties or taxes shall be paid by customer, or, in lieu thereof, customer shall provide Seller with an appropriate tax exemption certificate.</p>
<br>

<h4>Return of Merchandize</h4>
<p>Product(s) purchased from Macro Center may only be returned in accordance with Macro Center's Return Policy and by following the procedures contained in the section entitled how to return an item, both which policies are incorporated herein by reference. All returns shall be delivered or shipped with shipment prepaid to Seller's facility in the original packaging or equivalent, together with a dated proof of purchase (including invoice and packing slip) and a returned material authorization (RMA) number which may be requested from Customer Service. The RMA number must be written on the shipping label. All shipping charges and costs incurred in returning Product(s) to Macro Center, including insurance, duties or other fees must be prepaid by customer, AND ARE NOT REFUNDABLE BY MACRO CENTER. Customer shall assume all risk of loss or damage to Product(s) while in transit to Seller.</p>
<br>