@{
    Layout = "_InfoLayout";
}

<h1>FAQ</h1>

<p><b>Q: What should I do if an item is not carried?</b><br /><b>A:</b> If you can't find it here then you can likely find it elsewhere since we don't carry as much as our competitors. If you can't find it still, then you have bigger problems.</p>

<p><b>Q: What do I do if an item is out-of-stock?</b><br /><b>A:</b> The good thing about Macro Center is we don't keep track of what we have in inventory so you won't see those pesky out of stock messages! You'll still be able to add any item in our catalog to your cart and checkout! Whether you get the item is a whole other story however.</p>

<p><b>Q: What is the return policy?</b><br /><b>A:</b> On the off chance that the order actually gets to you in the first place, we say just send it back to whoever shipped it to you and hope you get your money back. And if you somehow spent real money just know, Macro Center does not have payment processing set up.</p>

<p><b>Q: Can I return a product that is defective?</b><br /><b>A:</b> Likely all of our products are defective so we just stamp an "As-Is" sticker on them to avoid the lawsuits! See the previous question about our return policy for more info.</p>

<p><b>Q: Do you offer product recommendations?</b><br /><b>A:</b> We would recommend all of our products but as of right now they are just crudely drawn images using MS Paint. </p>

<p><b>Q: What forms of payment can I use?</b><br /><b>A:</b> If you happen to find one of the executives in person out in the wild, you are obligated to hand us cash payments for your orders. We understand this is not the most convenient form of payment, but have <em>you</em> ever tried implementing payment processing on an MVC website? I thought not.</p>

<p><b>Q: Do you upgrade computers?</b><br /><b>A:</b> As of right now we do not have any active services, but if you would like just drop your computer off at your local DMV, someone from Macro Center is bound to find it! We have to get our licenses renewed some day.</p>

<p><b>Q: Do you offer trade-in services?</b><br /><b>A:</b> We do not offer trade-in services, but if you want we can take your old computer parts and give you a firm handshake!</p>

<p><b>Q: Do I need an appointment for a service or repair?</b><br /><b>A:</b> If you are asking this question then that implies that you found another Macro Center offering illegitimate services! Please report them, they are not the real Macro Center! At least we are up front about our lack of services and products!</p>

<p><b>Q: Do you service iPads, iPhones, and AirPods?</b><br /><b>A:</b> Macro Center does not offer these services but a little birdie told us about a company that does. Now, what was the name of that company again? Micro something... I'll update this question when I figure that out.</p>